@page "/panier"
@using Olympics.Services



<PageTitle>Panier</PageTitle>

<!-- Le menu de navigation est inclus ici -->
<Navigation />

<div class="cart-container">
    <div class="style-cart-container">
    <h2>Votre Panier</h2>

    @if (cartTickets != null && cartTickets.Any())
    {
        <div class="cart-items">
            @foreach (var ticket in cartTickets)
            {
                <div class="cart-item">
                    <div class="cart-item-details">
                        <p class="cart-item-name">Sport: @ticket.SportName</p>
                        <p class="cart-item-type">Type de ticket: @ticket.TicketType</p>
                        <p class="cart-item-quantity">Quantité: @ticket.Quantity</p>
                        <p class="cart-item-price">Prix unitaire: @ticket.Price €</p>
                        <p class="cart-item-total">Total: @(ticket.Quantity * ticket.Price) €</p>
                    </div>
                </div>
            }
        </div>

        <div class="cart-summary">
            <p><b>Total: @totalPrice €</b></p>
                <button @onclick="ViderPanierCompletAsync" class="btn btn-danger">Vider le Panier</button>
                <button @onclick="OnCheckoutClicked" class="checkout-btn">Passer à la caisse</button>
            </div>
    }
    else
    {
        <p>Votre panier est vide.</p>
    }
    </div>
</div>

<Footer /> <!-- Le footer est inclus ici -->